anthropic
arxiv
asyncio
council-ai
doctran
duckduckgo-search
faiss-cpu
fastapi
fire
gradio
langchain
langchainhub
loguru
markdownify
openai
openpyxl
pyautogen
pydantic==1.10.9
python-dotenv
python_docx
setuptools
tiktoken
uvicorn
wikipedia
wolframalpha
youtube_search
