aider-chat
anthropic
arxiv
asyncio
council-ai
duckduckgo-search
faiss-cpu
fastapi
fire
gradio
langchain
loguru
markdownify
openai
openpyxl
pydantic==1.10.8
python-dotenv
python_docx
setuptools
tiktoken
uvicorn
wikipedia
wolframalpha
youtube_search
