anthropic
arxiv
asyncio
council-ai
chromadb
doctran
duckduckgo-search
faiss-cpu
fastapi
fire
gradio
ipython
langchain
langchainhub
loguru
markdownify
openai
openpyxl
pyautogen[blendsearch]
pydantic==1.10.9
python-dotenv
python_docx
setuptools
tiktoken
uvicorn
wikipedia
wolframalpha
youtube_search
