doi2pdf
scidownl
pydantic<2
langchain>=0.0.198
openai >= 0.27.8
faiss-cpu
PyCryptodome
html2text
tiktoken>=0.4.0
aiohttp
pybtex
pypdf
arxiv>=1.4.7
pymed==0.8.9
pyzotero
pandas>=1.0.4
requests==2.31.0
tqdm>=4.51.0
scholarly==0.5.1
seaborn>=0.11.0
matplotlib>=3.3.2
matplotlib-venn>=0.11.5
bs4>=0.0.1
PyMuPDF
Pillow
aspose-words
